﻿body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: black;
}

.main-div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: url("assets/topalovici.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-div {
    height: calc(100vh);
    width: calc(50%);
    /*
    border-top: 0.25pt solid #FFD48A;
    border-bottom: 0.25pt solid #FFD48A;
    */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-div, .right-div {
    height: calc(100vh);
    width: calc(25%);
    /*border: 0.25pt solid #FFD48A;*/
}

.us-pr-div {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card1, .card2 {
    height: 100%;
    width: 35%;
    border: 0.1pt solid #FFD48A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease-in-out;
    background: transparent;
    
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.card1:hover {
    background: #FFD48A;
}

.card2:hover {
    background: #FFD48A;
}

.card-uspr-div {
    width: 90%;
    text-align: center;
    padding-top: 10%;
}

.uspr1 {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 0;
    transition: 0.4s ease-in-out;
}

.uspr1-txt {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin: 0;
    transition: 0.4s ease-in-out;
}

.uspr2 {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: 0;
    transition: 0.4s ease-in-out;
}

.uspr2-txt {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin: 0;
    transition: 0.4s ease-in-out;
}

.card1:hover .uspr1 {
    color: black;
}

.card1:hover .uspr1-txt {
    color: black;
}

.card2:hover .uspr2 {
    color: black;
}

.card2:hover .uspr2-txt {
    color: black;
}
