﻿body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}


.main-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("assets/pozadna2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1pt solid #FFD48A;
    align-items: center;
    margin-top: 1%;
}

.logo-compl {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 0;
}

.logo2 {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: -10px 0 0 0;
}

.menu-icon {
    height: 25px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.line {
    height: 2px;
    width: 100%;
    background: #FFD48A;
}

.menu-icon:hover {
    height: 15px;
}

.content {
    width: 80%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-one {
    height: 40%;
    display: flex;
    flex-direction: column;
    
}

.cont-form {
    display: flex;
    height: 90%;
    border: 1px solid #FFD48A;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.groblje {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0 5px;
}

.drop {
    background: transparent;
    border: 1px solid #FFD48A;
    color: #FFD48A;
}

.dat {
    font-size: 20px;
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.cont-two {
    width: 100%;
    height: 50%;
}