﻿body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: black;
}

.main-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("assets/pozadina.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1pt solid #FFD48A;
    align-items: center;
    margin-top: 1%;
}

.logo-compl {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 0;
}

.logo2 {
    color: #FFD48A;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin: -10px 0 0 0;
}

.menu-icon {
    height: 25px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.line {
    height: 2px;
    width: 100%;
    background: #FFD48A;
}

.menu-icon:hover {
    height: 15px;
}

.content {
    width: 80%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.cont-one {
    height: 50%;
    width: 100%;
}

.cont-head {
    margin-top: 1.5%;
}

.cont-two {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-two {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.forma {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5%;
}

.cont-items {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-top: 1.5%;
}

.cont-item-1, .cont-item-2, .cont-item-3, .cont-item-4, .cont-item-5, .cont-item-6, .cont-item-7 {
    height: 250px;
    width: 200px;
    display: flex;
    border: 1px solid #FFD48A;
    color: #ffd48a;
    align-items: center;
    justify-content: center;
}

.cont-item-1 {
    background: url("assets/cvece.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-item-2 {
    background: url("assets/svece.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-item-3 {
    background: url("assets/prevoz.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-item-4 {
    background: url("assets/sanduk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-item-5 {
    background: url("assets/babe.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cont-item-6 {
    background: url("assets/kopaci.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item-compl {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffd48a;
}

.choose {
    display: flex;
    align-items: center;
}

.item {
    font-size: 25px;
    color: #ffd48a;
}

.dugme {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}